.idea
# backend files
backend/venv
backend/.idea
**/__pycache__/

# frontend files
frontend/.DS_Store
frontend/node_modules
frontend/dist

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Editor directories and files
frontend/.idea
frontend/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
